# List
- ordered, indexes
-heterogeneous
-dynamic (mutable)
-can hold duplicate values
-can be nested
- list() is used to create a list from other iterables
-square brackets [] are used to create list

In [1]:
x = [ 'alex','bob','charlie','david']

In [3]:
word = 'christopher'
charslist = list(word)
print(charslist)

['c', 'h', 'r', 'i', 's', 't', 'o', 'p', 'h', 'e', 'r']

In [7]:
list100 = list(range(100))
print(list100)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [6]:
charslist[1]

'h'

In [8]:
z = [1,2,3] * 5

In [9]:
charslist

['c', 'h', 'r', 'i', 's', 't', 'o', 'p', 'h', 'e', 'r']

In [10]:
charslist[-1] # last element

'r'

In [11]:
charslist[-2] # second last element

'e'

In [12]:
charslist[0] = 89

In [13]:
charslist

[89, 'h', 'r', 'i', 's', 't', 'o', 'p', 'h', 'e', 'r']

In [14]:
soil=['aluvial','clay','slit','sand','gravel','loam']

In [17]:
soil[0:5] #first five elements

['aluvial', 'clay', 'slit', 'sand', 'gravel']

In [24]:
soil[-3:]last thr

SyntaxError: invalid syntax (1946493941.py, line 1)

In [19]:
soil[1:-1]

['clay', 'slit', 'sand', 'gravel']

list methods
- functions that add items 
* append
* insert
* extend
- functions that remove items 
* remove
* pop
* clear
- functions that change items
* reverse
* sort
* copy
* index
* count

In [25]:
books = [ 'warbook','game of thrones','iron man','star wars','top gun']

In [26]:
books.append("legion") # append only append single item at a time 
print(books)

['warbook', 'game of thrones', 'iron man', 'star wars', 'top gun', 'legion']

In [28]:
name = 'flantris'
books.append(name)
print(books)

['warbook', 'game of thrones', 'iron man', 'star wars', 'top gun', 'legion', 'flantris', 'flantris']

In [30]:
numbers = [] # empty list
for i in range(10):
    val = int(input(" enter a number"))
    numbers.append(val)
print(numbers)

[5, 10, 15, 20, 25, 3, 5, 30, 45, 50]

In [31]:
x = [1,2,3,4,5]
x.insert(2,3.5)
x

[1, 2, 3.5, 3, 4, 5]

In [32]:
x.insert(4,10)
x

[1, 2, 3.5, 3, 10, 4, 5]

In [33]:
x.extend(books) # to add a list in existing list or we can say to merge to list 
x

[1,
 2,
 3.5,
 3,
 10,
 4,
 5,
 'warbook',
 'game of thrones',
 'iron man',
 'star wars',
 'top gun',
 'legion',
 'flantris',
 'flantris']

In [34]:
movies = ['the shark redemption',
'the god father',
'the god father part 2',
'the dark knight',
'12 angry mens']

In [35]:
movies.remove('the god father part 2')
movies

['the shark redemption', 'the god father', 'the dark knight', '12 angry mens']

In [36]:
x = [1,2,3,1,2,2,3,1,2,3] 
x.remove(2)
x

[1, 3, 1, 2, 2, 3, 1, 2, 3]

In [37]:
movies

['the shark redemption', 'the god father', 'the dark knight', '12 angry mens']

In [38]:
movies.pop(2)  # index removing

'the dark knight'

In [39]:
x.pop()  # last item is removed if position is not given

3

In [40]:
x.pop()

2

In [41]:
movies.clear()  # to  clear all the items of the list
movies

[]

In [42]:
colors = ['red','green','blue','yellow','orange','purple']
colors.sort()
print(colors)

['blue', 'green', 'orange', 'purple', 'red', 'yellow']

In [51]:
colors1 = ['red','green','blue','Yellow','orange','purple']  # captical letter is sorted first
colors1.sort()
print(colors1)

['Yellow', 'blue', 'green', 'orange', 'purple', 'red']

In [65]:
colors.reverse()
print(colors)

['red', 'red', 'purple', 'oirange', 'green', 'green', 'yellow', 'red']

In [66]:
colors.index('red')

0

In [56]:
if 'yellow' in colors:
    print(colors.index('yellow'))

In [57]:
colors = ['red','yellow','green','green','oirange','purple','red','red']

In [58]:
colors.count('red')

3

In [59]:
colors.count('purple')

1

In [60]:
colors.count('white')

0

In [61]:
a = colors.copy()
print(a==colors)

True

In [62]:
x = [1,2,3]
y = x  # this is wrong way
z = x.copy()  # this is right way

In [63]:
print('x & y',x is y, x == y)
print('x & z',x is z, x == z)

x & y True True
x & z False True